<div class="page-header">
  <h3 align="center">News Articles</h3>
</div>
<div align="center">
  <h2>
    Please select a date below.
  </h2>
</div>
<hr>
<div align="center">
  <% @articles.each do |article| %>
    <%= link_to article.date_published, article, class: "btn btn-info btn-block" %>
    <% if current_user.nil? or current_user.classnumber != "1859" %>
    <% else %>
      <br>
      <%= link_to 'Edit', edit_article_path(article), class: "btn btn-primary btn-block" %>
      <br>
      <%= button_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-block" %>
      <hr>
    <% end %>
  <% end %>
</div>
<br>
<% if current_user.nil? or current_user.classnumber != "1859" %>
<% else %>
<div align="center">
  <%= link_to 'New Article', new_article_path, class: "btn btn-primary" %>
</div>
<% end %>
