<div class="page-header">
  <h1>
    About <small>The IT Academy</small>
  </h1>
</div>
  The Academy of Information Technology is a National Academy Foundation Academy hosted by Bryan Station High School. It is a 4-Year program that involves various technology courses, internships, and technology being tied into core content classes. The IT Academy is directed by Heather Eppley, and run by multiple IT teachers.
</p>
  <h2>
    The Classes
  </h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>
            Freshman Year
          </th>
          <th>
            Sophmore Year
          </th>
          <th>
            Junior Year
          </th>
          <th>
            Senior Year
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Computer Apps and Science
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Computer Apps and Science&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Computer Systems
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Computer Systems&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Computer Programming
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Computer Programming&nbsp;</p></li>
              </ul>
            </div>

          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Graphic Design
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Graphic Design&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT Citizenship
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT Citizenship&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Web Design
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Web Design&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Digital Media
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Digital Media&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Database Design
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of Database Design&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT English
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT English&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT English 2
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT English 2&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT AP English
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT AP English&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT Biology
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT Biology&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT AP Environmental Sciences
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT AP Environmental Sciences&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT Chemsitry
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT Chemistry&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
          </td>
          <td>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT AP US History
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Description of IT AP US History&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

