<div class="page-header">
  <h1>
    About <small>The IT Academy</small>
  </h1>
</div>
<p>
  The Academy of Information Technology is a National Academy Foundation Academy hosted by Bryan Station High School. It is a 4-Year program that involves various technology courses, internships, and technology being tied into core content classes. The IT Academy is directed by Heather Eppley, and run by multiple IT teachers.
</p>
<<<<<<< HEAD
<<<<<<< HEAD
<style> 
button {display: block;
        width: 100%;
        margin: 10px;}
</style>
<div class="page-header">
=======
>>>>>>> d87cec62644e70cf0b87043aefb1cad3ea45ac31
  <h2>
    The Classes <small> of the IT Academy</small>
  </h2>
</div>
  <div class="table-responsive">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-success"
                    data-toggle="popover"
                    data-content="The First Year of High School."
                >Freshman Year</a>
            </div>
          </th>
          <th>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-success"
                    data-toggle="popover"
                    data-content="The Second Year of High School."
                >Sophomore Year</a>
            </div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computers Apps and Science is an introductory class to the IT Academy, offering lessons on Microsoft Word, Excel, and PowerPoint, along with typing speed and accuracy and resume building. It is taught by Mr. Gothier.&nbsp;"
                >Computer Apps and sciences</a>
            </div>
          </td>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computer Systems focuses on the hardware aspect of technology. Students will learn how to take a computer of any size and shape apart piece by piece and put it all back together better than before. Students are also offered STRATA and A+ courses if they would like to attempt the certification exams for them. This class is taught by Mr. Hill.&nbsp;"
                >Computer Systems</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Citizenship focuses on the structure of the US Government, teaching what a democracy really is, how each branch works and interacts with each other, and teaching the basics of economy. It is taught by Mr. Covington.&nbsp;"
                >IT Citizenship</a>
            </div>
          </td>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web Design teaches students how to code and design websites such as this one! HTML is used with Notepad++ and Dreamweaver to create elaborate or simple web pages by students, teaching different elements of HTML. It is taught by Mr. Hill.&nbsp;"
                >Web Design</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;"
                >IT English</a>
            </div>
          </td>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English 2 focuses on new stories and new elements of English. Students will read through books such as Of Mice and Men and Night, and learn about propaganda and major techniques involved with it. It is taught by Mrs. Zoll-Eppley.&nbsp;"
                >IT English 2</a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Biology involves lessons on basic life, cell structures, plants, many more biological subjects. It is taught by Mrs. Pelphrey.&nbsp;"
                >IT Biology</a>
            </div>
          </td>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-info"
                    data-toggle="popover"
                    data-content="&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT AP Environmental Science focuses on the evironmental impacts of humans, and what can be done to prevent further damage to our world. It teaches complex energy equations and the full impact of our activities in the world today. It is taught by Mrs. Pelhprey.&nbsp;"
                >IT AP Environmental Sciences</a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 <br>
 <div class="table-responsive">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>
            Junior Year
          </th>
          <th>
            Senior Year
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div id="myDiv">
                <a id="pop"
                    href="#"
                    class="btn btn-lg btn-success"
                    data-toggle="popover"
                    data-content="The Third Year of High School"
                >Junior Year</a>
            </div>
=======
>>>>>>> 75bde494e08997398e8f7fd6a1073b12482a7af7

<div class="well">
  <h2>Freshman Year</h2>
  <hr>
  <div class="panel-group" id="accordion">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
            Computer Apps and sciences
          </a>
        </h4>
      </div>
      <div id="collapseOne" class="panel-collapse collapse in">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computers Apps and Science is an introductory class to the IT Academy, offering lessons on Microsoft Word, Excel, and PowerPoint, along with typing speed and accuracy and resume building. It is taught by Mr. Gothier.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
            IT Citizenship
          </a>
        </h4>
      </div>
      <div id="collapseTwo" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Citizenship focuses on the structure of the US Government, teaching what a democracy really is, how each branch works and interacts with each other, and teaching the basics of economy. It is taught by Mr. Covington.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
            IT English
          </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
            IT Biology
          </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Biology involves lessons on basic life, cell structures, plants, many more biological subjects. It is taught by Mrs. Pelphrey.&nbsp
        </div>
      </div>
    </div>
  </div>
</div>
<hr>
<!---=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<hr>
<div class="well">
  <h2>Sophomore Year</h2>
  <hr>
  <div class="panel-group" id="accordion2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
            Computer Systems
          </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse ">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Computer Systems focuses on the hardware aspect of technology. Students will learn how to take a computer of any size and shape apart piece by piece and put it all back together better than before. Students are also offered STRATA and A+ courses if they would like to attempt the certification exams for them. This class is taught by Mr. Hill.&nbsp
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSix">
            Web Design
          </a>
        </h4>
      </div>
      <div id="collapseSix" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Web Design teaches students how to code and design websites such as this one! HTML is used with Notepad++ and Dreamweaver to create elaborate or simple web pages by students, teaching different elements of HTML. It is taught by Mr. Hill.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapseSeven">
            IT English 2
          </a>
        </h4>
      </div>
      <div id="collapseSeven" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Biology involves lessons on basic life, cell structures, plants, many more biological subjects. It is taught by Mrs. Pelphrey.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion2" href="#collapseEight">
            IT AP Environmental Sciences
          </a>
        </h4>
      </div>
      <div id="collapseEight" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT AP Environmental Science focuses on the evironmental impacts of humans, and what can be done to prevent further damage to our world. It teaches complex energy equations and the full impact of our activities in the world today. It is taught by Mrs. Pelhprey.&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<!---=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<hr>
<div class="well">
  <h2>Junior Year</h2>
  <hr>
  <div class="panel-group" id="accordion3">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion3" href="#collapseNine">
            IT Digital Media
          </a>
        </h4>
      </div>
      <div id="collapseNine" class="panel-collapse collapse ">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Digital Media focuses on the video side of the IT field, teaching students how to create videos from scratch. Students will use a variety of cameras and produce videos on a variety of subjects, from Daily News to Bryan Station High School. It is taught by Mr. Gothier.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTen">
            IT AP English
          </a>
        </h4>
      </div>
      <div id="collapseTen" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT AP English has a much bigger focus on essays, how they are structured, and how they should be correctly written, while still including important subjects of English. It is taught by Ms. Vanatter.&nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion3" href="#collapseEleven">
            IT Chemistry
          </a>
        </h4>
      </div>
      <div id="collapseEleven" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; IT Chemistry teaches everything there is to know about the periodic table, chemical bonds and characteristics of the atom. It also teaches conversions of units. It is taught by Mrs. Davis. &nbsp;
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion3" href="#collapseTweleve">
            IT AP US History
          </a>
        </h4>
      </div>
      <div id="collapseTweleve" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT AP US History teaches the history of the United States, from colonization to modern day. It focuses on why events happened, the effects, and how the nation, world, and government have changed over time. It is taught by Mr. Slone.&nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
<!---=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->
<div class="well">
  <h2>Senior Year</h2>
  <hr>
  <div class="panel-group" id="accordion4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion4" href="#collapseThirteen">
            IT Database Design
          </a>
        </h4>
      </div>
      <div id="collapseThirteen" class="panel-collapse collapse ">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT AP English has a much bigger focus on essays, how they are structured, and how they should be correctly written, while still including important subjects of English. It is taught by Ms. Vanatter.&nbsp;        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a data-toggle="collapse" data-parent="#accordion4" href="#collapseFourteen">
            IT Graphic Design
          </a>
        </h4>
      </div>
      <div id="collapseFourteen" class="panel-collapse collapse">
        <div class="panel-body">
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;IT Grahpic Design is a class where you learn how to commmunicate and pitch ideas to buisnesses. You also learn how to use many Adobe Products and create images and graphic designs. This class is taught by Mr. Gothier. &nbsp;
        </div>
      </div>
    </div>
  </div>
</div>
