<div class="page-header">
  <h1>
    About <small>The IT Academy</small>
  </h1>
</div>
  The Academy of Information Technology is a National Academy Foundation Academy hosted by Bryan Station High School. It is a 4-Year program that involves various technology courses, internships, and technology being tied into core content classes. The IT Academy is directed by Heather Eppley, and run by multiple IT teachers.
</p>
  <h2>
    The Classes
  </h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>
            Freshman Year
          </th>
          <th>
            Sophmore Year
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Computer Apps and Science
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Computers Apps and Science is an introductory class to the IT Academy, offering lessons on Microsoft Word, Excel, and PowerPoint, along with typing speed and accuracy and resume building. It is taught by Mr. Gothier.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Computer Systems
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Computer Systems focuses on the hardware aspect of technology. Students will learn how to take a computer of any size and shape apart piece by piece and put it all back together better than before. Students are also offered STRATA and A+ courses if they would like to attempt the certification exams for them. This class is taught by Mr. Hill.&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT Citizenship
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT Citizenship focuses on the structure of the US Government, teaching what a democracy really is, how each branch works and interacts with each other, and teaching the basics of economy. It is taught by Mr. Covington.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Web Design
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Web Design teaches students how to code and design websites such as this one! HTML is used with Notepad++ and Dreamweaver to create elaborate or simple web pages by students, teaching different elements of HTML. It is taught by Mr. Hill.&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT English
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT English is an introduction to English at the high school level. Students will learn about different elements of the English language, and analyze different texts, including To Kill a Mockingbird and Romeo and Juliet. It is taught by Ms. Stokes.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT English 2
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT English 2 focuses on new stories and new elements of English. Students will read through books such as Of Mice and Men and Night, and learn about propaganda and major techniques involved with it. It is taught by Mrs. Zoll-Eppley.&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT Biology
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT Biology involves lessons on basic life, cell structures, plants, many more biological subjects. It is taught by Mrs. Pelphrey.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT AP Environmental Science
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT AP Environmental Science focuses on the evironmental impacts of humans, and what can be done to prevent further damage to our world. It teaches complex energy equations and the full impact of our activities in the world today. It is taught by Mrs. Pelhprey.&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
 <br>
 <div class="table-responsive">
    <table class="table table-striped table-bordered ">
      <thead>
        <tr>
          <th>
            Junior Year
          </th>
          <th>
            Senior Year
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Computer Programming              
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Computer Programming is what the class name suggests, programming. Students learn how to code, line by line, building different basic programs and learning basics of different languages. Python is currently taught in this class, and it is taught by Mr. Hill.&nbsp;</p></li>
              </ul>
            </div>

          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Graphic Design
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Graphic Design is focused on graphic skills in image editor and creation programs, such as Adobe Photoshop and Illustrator. Students learn about what makes a graphic design, and what elements are required. It is taught by Mr. Gothier.&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Digital Media
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Digital Media focuses on the video side of the IT field, teaching students how to create videos from scratch. Students will use a variety of cameras and produce videos on a variety of subjects, from Daily News to Bryan Station High School. It is taught by Mr. Gothier.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                Database Design
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;Datasebase Design focuses on how databases are used, how they are created ,and how real world businesses use them to function. Students will learn how to create and use databases to their full potential. This class is taught by Mr. Gothier.&nbsp;</p></li>
              </ul>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT AP English
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT AP English has a much bigger focus on essays, how they are structured, and how they should be correctly written, while still including important subjects of English. It is taught by Ms. Vanatter.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT Chemistry
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT Chemistry teaches everything there is to know about the periodic table, chemical bonds and characteristics of the atom. It also teaches conversions of units. It is taught by Mrs. Davis.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
          </td>
        </tr>
        <tr>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                IT AP US History
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu">
                <li align="center"><p>&nbsp;IT AP US History teaches the history of the United States, from colonization to modern day. It focuses on why events happened, the effects, and how the nation, world, and government have changed over time. It is taught by Mr. Slone.&nbsp;</p></li>
              </ul>
            </div>
          </td>
          <td>
          </td>
        </tr>
      </tbody>
    </table>
  </div>