<div class="page-header">
  <h1>
    About <small>Bryan Station High School</small>
  </h1>
</div>
<p>
  <tab>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bryan Station High School is one of five high schools located in the Fayette County School District, which serves the city of Lexington, KY, the second largest city in the state of Kentucky. Bryan Station first opened its doors in 1958. Bryan Station has remained opened since it first began servicing students in the late 1950s. In the school year of 2006-2007, students were transitioned into a new building, which was officially named Bryan Station High.
</p>
<br>
<br>
<div class="page-header">
  <h2>
    School Mascot <small>and Colors</small>
  </h2>
</div>


<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bryan Station High's mascot is the defender, designed after the origins of the school. "Bryan Station" was a pioneer settlement in the 1700s, and during the Revolutionary War, the defender was the protector of the settlement.
</p>

<div class="center-block">
  <%= image_tag("meanman.gif", :alt => "The mean man", :class => "inline img-responsive", style: "100%") %>
</div>

<br>
<div class="well well-lg">
  <p>The school colors are
    <strong>
      <span style="color:#00A550">
        green
      </span>
      ,
      <span style="color:#FFD700">
        gold
      </span>
      , and
      <span style="color:#000080">
        navy blue
      </span>
      .
    </strong>
  </p>
</div>
