<div class="page-header">
  <h1>
    About <small>The IT Academy</small>
  </h1>
</div>
  The Academy of Information Technology is a National Academy Foundation Academy hosted by Bryan Station High School. It is a 4-Year program that involves various technology courses, internships, and technology being tied into core content classes. The IT Academy is directed by Heather Eppley, and run by multiple IT teachers.
</p>
<div class="well">

  <h2>
    The Classes
  </h2>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>
          Freshman Year
        </th>
        <th>
          Sophmore Year
        </th>
        <th>
          Junior Year
        </th>
        <th>
          Senior Year
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Computer Apps and Science
        </td>
        <td>
          Computer Systems
        </td>
        <td>
          Computer Programming
        </td>
        <td>
          Graphic Design
        </td>
      </tr>
      <tr>
        <td>
          IT Citizenship
        </td>
        <td>
          Web Design
        </td>
        <td>
          Digital Media
        </td>
        <td>
          Database Design
        </td>
      </tr>
      <tr>
        <td>
          IT English
        </td>
        <td>
          IT English 2
        </td>
        <td>
          IT AP English
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
          IT Biology
        </td>
        <td>
          IT AP Enivironmental
        </td>
        <td>
          IT Chemistry
        </td>
        <td>
        </td>
      </tr>
      <tr>
        <td>
        </td>
        <td>
        </td>
        <td>
          IT AP US History
        </td>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
</div>
