<h1>About IT</h1>
<p>The Academy of Information Technology is a National Academy Foundation Academy hosted by Bryan Station High School. It is a 4-Year program that involves various technology courses, internships, and technology being tied into core content classes. The IT Academy is directed by Heather Eppley, and run by multiple IT teachers.</p>
<h2>The Classes</h2>
<p>The IT Academy involves two technology electives each year (with the exception of Freshman year, which only involves one technology elective), and specific IT core content courses. The classes are divided by grade level.</p>
<p>Freshmen Year: Computer Apps and Science, IT Citizenship, IT English, IT Biology</p>
<p>Sophomore Year: Computer Systems, Web Design, IT English 2, IT AP Enivironmental</p>
<p>Junior Year: Computer Programming, Digital Media, IT AP English, IT Chemistry, IT AP US History</p>
<p>Senior Year: Graphic Design, Database Design, IT AP English Literature</p>