<div class="page-header">
  <h1>
    Contact Us!
  </h1>
</div>
<p>If you want to get in conatct with us, you can do so by emailing Graham Hough, or you can view the project on Github. This webiste and project is all open source and anyone can download and use it.</p>
<hr>
<div align="center">
  <a href="mailto:graham.hough117@gmail.com" class="btn btn-primary">Graham Hough</a>
  <a href="www.github.com/graham117/itacademe" class="btn btn-primary">Github Repo</a>
  <a href="https://www.facebook.com/pages/Bryan-Station-High-School-Academy-of-Information-Technology/148413905198177" class="btn btn-primary">Facebook Page</a>
</div>
