<div class="page-header">
  <h1>
    The IT Academy <small>at Bryan Station</small>
  </h1>
</div>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Welcome to the Bryan Station IT Academy web app! From here you can upload Dress for Success pictures for a grade in your IT classes, check important dates for the Academy, learn about the Academy and how you can join, and sign-up for community service hours! If you are curious about who we are, we'd like to direct you here, to the About Us page. Here you will find an insightful page about what the IT Academy is, what it focuses on, who is involved, and how you can become a part of it!
</p>
<br>
<p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Along with an About Us page, there are several other resources to be found on this nifty little site. Just browse the top bar and choose what you need!
</p>
