<div class="page-header">
  <h1>
    Prospective Students
  </h1>
</div>
	Are you a student interested in joining the IT Academy, or a parent of an interested student? There are a few things you need to know about the IT Academy, and a few things you can do to assist in getting into the academy! There aren't any real requirements, just a basic interest in the field of IT. 
</p>