<div class="page-header">
  <h1>
    Prospective Students
  </h1>
</div>
	Are you a student interested in joining the IT Academy, or a parent of an interested student? There are a few things you need to know about the IT Academy, and a few things you can do to assist in getting into the academy! There aren't any real requirements, just a basic interest in the field of IT.
</p>
<div class="page-header">
	<h2>
		Admission
	</h2>
</div>
	The academy is open to all interested students. While there is a deadline on <b>October 7th, 2013</b>, applications are always accepted on a first-come first-serve basis. If there are no open slots when the application is taken, the student will be put on a waiting list.
	<br>
	<br>
	Any questions you have about the IT Academy and it's admission process can be sent to the IT Director, Heather Eppley.
	<br>
	<br>
	<br>
	<div class="well">
	<address>
		<strong>Bryan Station High School</strong><br>
				201 Eastin Road<br>
				Lexington, Kentucky 40504<br>
				<abbr title="Phone">P:</abbr> (859) 381-3308</a>
				</address>
				<address>
				<strong>Heather Eppley</strong><br>
				<a href="mailto:#">heather.eppley@fayette.kyschools.us</a><br>  								    					 <abbr title="Ext.">Extension:</abbr> 6001</a>
	</address>
</div>
	</a>
</p>
