<div class="page-header">
  <h1>
    Prospective Students
  </h1>
</div>
	Are you a student interested in joining the IT Academy, or a parent of an interested student? There are a few things you need to know about the IT Academy, and a few things you can do to assist in getting into the academy! There aren't any real requirements, just a basic interest in the field of IT. 
</p>
<div class="page header">
	<h2>
		Admission
	</h2>
</div>
	The academy is open to all interested students. While there is a deadline on <b>October 7th, 2013</b>, applications are always accepted on a first-come first-serve basis. If there are no open slots when the application is taken, the student will be put on a waiting list.
	<br> 
	<br>
	Any questions you have about the IT Academy and it's admission process can be sent to the IT Director, Heather Eppley.
	<br>
	<br>
	Heather Eppley<br>
	<a href="mailto:heather.eppley@fayette.kyschools.us" target="_top">
	heather.eppley@fayette.kyschools.us
	</a>
</p>
<div class="page header">
	<h2>
	Application Forms
	</h2>
</div>
	<a href="http://blogs.fcps.net/itacademy/files/2013/02/brochure-14-151.pdf">
	IT Academy Student Brochure
	</a>
	<br>
	<br>
	<a href="http://blogs.fcps.net/itacademy/files/2013/02/Application14-15.pdf">
	Application
	</a>
	<br>
	<br>
	<a href="http://blogs.fcps.net/itacademy/files/2013/02/Teacher-Recommendation14-15.pdf">
	Teacher Recommendation Form
	</a>
</p>

