<div class="page-header">
  <h1>
    Need Help?<small>  Dont worry, we got you.</small>
  </h1>
</div>
<p>
  It seems that you are having trouble signing up, or dont know your class number. Dont worry, we are happy to help.
</p>
<br>
<h2>
  What is a class number?
</h2>
<p>
  A class number is a number that defines what class you are in within the academy. A freshman will not have the same number as a senior for example. This number also helps us, the devlopers differentiate between the students, faculty, and admistrators of the site.
</p>
<br>
<h2>
  Well how do I get my class number?
</h2>
<p>
  This is easy, you can look at the table below, or ask your IT Academy teacher for the correct number that you should use.
</p>
<br>
<h2>
  What if I am not in the Academy?
</h2>
<p>
  Well, if you are not in the Academy, you can make an account and feel free to roam the site. If you are part of the IT board, you can use a special code that will give you more access. If you are a parent, you can look at the table below for a code to have access to more pages.
</p>
<br>
<h2>
  My issue is not here!?!?
</h2>
<p>
  If your problem is with the site or you need more assistance please feel free to contact us. You can do so on the "Contact Us" page on the Navigation bar above. Thank you.
</p>

